<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--引入scheme约束-->
    <!--开启控制器扫描-->
    <context:component-scan base-package="com.ctyun.web"/>
    <!--自定义时间解析器-->
    <bean id="conversionService2"  class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.ctyun.web.date.DateFormat"/>
            </set>
        </property>
    </bean>
    <!--开启springmvc注解支持-->
    <mvc:annotation-driven conversion-service="conversionService2"/>
    <!--配置试图解析器InternalResourceViewResolver-->
  <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/WEB-INF/pages/"/>
      <property name="suffix" value=".jsp"/>
  </bean>
    <!--放行静态资源-->
    <mvc:default-servlet-handler/>
</beans>